/* Props */
:root {
  --first: #5CA5A5;
  --first-op01: rgba(92, 163, 163, 0.1);
  --second: #7a8f8f;
  --third: #FFFFFF;
  --fourth: #B7C4C4;
  --body-bg: #effafa;
  --black: #2B3939;
}

/* GLOBAL STYLES */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 3px dashed blue;
  outline-offset: 3px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  color: var(--second);
  line-height: 1.5;
  font-size: 15px;
  font-weight: bold;
  font-family: "League Spartan", "Arial", sans-serif;
  background-color: var(--body-bg);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* CONTAINER */
.container{
  width: 100%;
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  margin: 12px auto;
}

/* MAIN-CONTENT */
.main-content{
  flex-grow: 1;
  padding: 76px 0 120px;
}


/* SITE-HEADER */
.site-header {
  width: 100%;
  height: 156px;
  margin: auto;
  background: #5ca5a5 url("../img/Site-header-bg.jpg");
  background-size: auto 100%;
  background-position: center;
  padding: 50px 0;
}

.site-header__card-link {
  float: right;
  text-decoration: none;
  color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: grey;
}

.site-header__card-link:hover {
  color: rgb(255, 255, 109);
}

.site-header__card-link:active {
  opacity: 0.6;
}

/* Tags-box */
.selected-tags {
  display: none;
  width: 100%;
  list-style: none;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 15px 20px -5px rgba(13, 113, 130, 0.15);
  padding: 20px 40px;
  margin-top: 0;
  margin-bottom: 40px;
}

.selected-tag:not(:last-child) {
  margin-right: 48px;
}

.selected-tag {
  position: relative;
  padding: 4px 8px;
  color: var(--first);
  border-radius: 4px;
  cursor: pointer;
  background: var(--first-op01);
}

.close-tag {
  position: absolute;
  top: 0;
  left: 100%;
  width: 32px;
  height: 32px;
  border-radius: 0 4px 4px 0;
  background-image: url('../img/close.svg');
  background-color: var(--first);
  background-position: center;
  background-repeat: no-repeat;
  padding: 9px 10px;
}
.close-tag:hover {
  background-color: var(--black);
}

.clear-tags {
  color: #5ca5a5;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  line-height: 185%;
  letter-spacing: -0.01em;
  text-decoration: none;
  text-decoration-skip-ink: none;
  text-align: right;
  margin-left: auto;
}
.clear-tags:hover {
  text-decoration: underline;
}


/* JOB-LISTINGS - ITEM */
.job-listings {
  list-style: none;
  padding: 0;
  margin: 0;
}

.job-listings-item {
  width: 100%;
  display: flex;
  padding: 32px 40px 32px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
}
.job-listings-item:not(:last-child) {
  margin-bottom: 24px;
}
.bd-left {
  position: relative;
}
.bd-left::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  border-radius: 100px 0 0 100px;
  background-color: var(--first);
}

.job-listings-logo {
  margin-right: 24px;
}

.job-listings-company-badges {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.job-listings-company-name {
  color: #5CA5A5;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 16px;
}

.job-listings-badges {
  display: flex;
}

.job-listings-badges-item {
  color: #FFF;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 127%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  border-radius: 12px;
  padding: 6px 8px 4px;
}

.job-listings-info-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}


.badge:not(:last-child) {
  margin-right: 8px;
}

.badge-green {
  background: var(--first);
}

.badge-black {
  background: var(--black);
}

.job-listings-info-position {
  margin-top: 0;
  margin-bottom: 8px;
}

.job-listings-info-position-link {
  color: #2B3939;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  text-decoration: none;
}

.job-listings-addl-list {
  padding: 0;
  display: flex;
  list-style: none;
}

.job-listings-list-dote {
  width: 4px;
  height: 4px;
  margin: auto 16px;
  border-radius: 50%;
  background-color: var(--fourth);
}

.job-listings-addl-item {
  color: #7C8F8F;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.115px;
}

.job-listings-tags-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}

.job-listings-tags-item {
  padding: 4px 8px;
  color: var(--first);
  border-radius: 4px;
  background: var(--first-op01);
  cursor: pointer;
  transition: 0.3s ease;
}
.job-listings-tags-item:not(:last-child) {
  margin-right: 16px;
}

.job-listings-tags-item:hover {
  background-color: var(--first);
  color: var(--body-bg);
}


@media only screen and (max-width: 1200px) {
  
}
@media only screen and (max-width: 900px) {
  .job-listings-tags-list {
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
    align-content: normal;
    justify-content: end;
  }
}
@media only screen and (max-width: 768px) {
  .job-listings-addl-list {
    display: flex;
    flex-direction: column;
  }
  .job-listings-item {
    padding: 24px;
  }
  .job-listings-info-wrapper {
    display: flex;
    flex-direction: column;
  }
  .job-listings-tags-list {
    width: 100%;
    justify-content: flex-start;
  }
  .job-listings-info {
    margin-bottom: 20px;
  }
  .job-listings-addl-list {
    flex-direction: row;
  }
}
@media only screen and (max-width: 600px) {
  .job-listings-tags-list {
    min-height: 80px;
  }
}

@media only screen and (max-width: 468px) {
  .container {
    padding: 0 24px;
  }
  .job-listings-item {
    position: relative;
    padding-top: 32px;
  }
  .job-listings-item:not(:last-child) {
    margin-bottom: 36px;
  }
  .job-listings-logo {
    position: absolute;
    width: 48px;
    height: 48px;
    top: -10%;
    margin-right: 0;
  }
  .job-listings-info-position-link {
    font-size: 15px;
  }
  .job-listings-company-name {
    font-size: 13px;
  }
}
@media only screen and (max-width: 350px) {
  .job-listings-tags-list {
    min-height: 120px;
  }
  .job-listings-badges {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
  }
  .badge-green {
    margin-bottom: 8px;
  }
  
}
@media only screen and (max-width: 245px) {
  .site-header {
    height: 10vh;
  }
  .job-listings-logo {
    top: -5%;
  }
  .job-listings-addl-list {
    flex-direction: column;
  }
  .job-listings-tags-list {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .job-listings-company-name {
    margin-right: 0;
    margin-bottom: 8px;
  }
  .job-listings-badges {
    display: block;
  }
  .job-listings-tags-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .job-listings-company-badges {  
    flex-direction: column;
  }
}


/* RETINA */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  .site-header {
    background-image: url("../img/Site-header-bg@2x.jpg");
  }
}